//========== Created effects.less file ============
.fx  {
    animation: pulse 5s infinite;
    @keyframes pulse {
    0% {
      background-color: #FFFEF7;
    }
    100% {
      background-color: #001F3F;
    }
  }
}

.menuTransition {

    transition: width 2s;
    &:hover {
      width: 400px;
    }

}

  